html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    margin-top: 0px;
    background-color: rgba(245, 242, 228,  0.3);
}

/* fader */
#fader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    pointer-events: none;
    background: white;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes fade-out {
    from {opacity: 1}
    to {opacity: 0}
}
@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 1}
}
#fader.fade-out {
    opacity: 0;
    animation-name: fade-out;
}
#fader.fade-in {
    opacity: 1;
    animation-name: fade-in;
}

#main {
    width: 100%;
}
#mainBackground {
    position: absolute;
    background-image: url(images/background.jpeg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    color: white;
}
#mainTitle {
    font-family: 'Karma';
    font-size: 120px; 
    margin-top: 100px;
    margin-left: 150px;
    text-shadow: 2px 2px black;
}
#mainSubtitle {
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    font-size: 30px;
    margin-top: -30px;
    margin-left: 150px;
    text-shadow: 2px 2px black;
}
.header {
    font-family: 'Cormorant Garamond';
    font-weight: 200;
    font-size: 20px;
    margin-left: 150px;
    width: 70%;
    margin-top: 20px;
    text-align: justify;
}
#mainOptionsWrapper {
    height: 120px;
    margin-left: 150px;
    margin-top: 40px;
}
.anOption {
    font-family: 'Karma';
    font-size: 18px;
    font-weight: bolder;
    background-color: black;
    color: white;
    text-align: center;
    width: 100px;
    padding: 10px;
    margin-right: 50px;
    z-index: 2;
    position: relative;
    margin-left: 5px;
    margin-top: 5px;
}
#mainOptionsWrapper a {
    text-decoration: none;
}
.linearOutline {
    height: 110px;
    width: 130px;
    background-image: linear-gradient(to right, #3D9DAB, #683D8F);
    float: left;
    margin-right: 50px;
    border-radius: 5px;
}
.anOption:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: .5s;
}
#mainSocialWrapper {
    margin-top: 50px;
    margin-left: 150px;
}

.phoneOnly {
    display: none;
}
.desktopOnly {
    display: block;
}

#aMain {
    background-color: #4F28FE;
    width: 100%;
    position: absolute;
}
#aContainer {
    width: 50%;
    margin: auto;
    height: 350px;
    margin-top: 250px;
}
#top {
    height: 148px;
    width: 100%;
    margin-bottom: 50px;
}
#bottom {
    height: 150px;
    width: 100%;
}
.title {
    font-family: 'Karma';
    color: white;
    font-size: 30px;
    text-align: center;
}


@media screen and (max-width: 500px) {
    .phoneOnly {
        display: block;
    }
    .desktopOnly {
        display: none;
    }
    #mainBackground {
        height: 1000px;
        width: 100%;
    }
    #mainSocialWrapper {
        width: 60%;
        margin: auto;
    }
    #mainTitle {
        font-size: 60px;
        width: 20%;
        text-align: center;
        margin-left: 20px;
        margin-top: 20px;
    }
    #mainSubtitle {
        width: 80%;
        text-align: left;
        margin-left: 20px;
        margin-top: -10px;
        font-size: 25px;
    }
    .header {
        width: 80%;
        margin-left: 20px;
    }
    .linearOutline {
        width: 40%;
        float: left;
        margin-left: 18px;
        margin-right: 18px;
    }
    #mainOptionsWrapper {
        width: 100%;
        margin: auto;
        margin-top: 25px;
    }
    #mainSocialWrapper {
        width: 70%;
        margin-top: 30px;
    }
    .anOption {
        width: 91%;
        padding: 10px 0px;
        margin-right: 10px;
    }
}
